.containerEnvios {
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
}

.mapaEstatico {
    margin: 0 0 24% 1%;
    padding-top: 0px;
    width: 500px;
    height: 450px;
    border: none;
}