@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

* {
  padding: 0%;
  margin: 0%;
}

/*Elementos generales para todas las queries*/
body {
  background-color: #FAACA8;
  background-image: linear-gradient(180deg, #FAACA8 0%, #DDD6F3 100%);
}

/* Barra buscadora bts */
.navbar>.container-fluid {
  flex-direction: column;
  margin-top: 1%;
  margin-left: 2%;
}

.bg-light {
  --bs-bg-opacity: 1;
  margin-top: 2%;
  border: none;
  background-color: #f9adaa !important;
}

/* Aca termina la barra buscadora bts */
p {
  font-family: "Roboto Flex", sans-serif;
  font-size: large;
  margin: 10px;
}

section figure {
  margin: 10px;
}

/* Formulario de la seccion contactos*/
.form-control.is-valid,
.form-control.is-invalid,
.form-select.is-invalid:not([multiple]):not([size]) {
  background-image: none;
  border-color: black;
}

.g-3,
.gx-3 {
  --bs-gutter-x: 3rem;
  margin-top: 3%;
  margin-left: 1%;
  margin-right: 1%;
}

.g-3,
.gy-3 {
  --bs-gutter-y: 4rem;
}

.col-md-4 {
  flex: 0 0 auto;
  width: 50%;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-md-3 {
  flex: 0 0 auto;
  width: 50%;
}

.col-12 {
  flex: 0 0 auto;
  width: 55%;
  justify-content: center;
  margin-left: 39%;
}

/* Aca termina el formulario */
li img {
  padding: 5px;
}

.carrito {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.flechaDeslizadora {
  display: flex;
  justify-content: right;
  margin-right: 10px;
  padding-top: 17px;
}

html {
  scroll-behavior: smooth;
}

figcaption input {
  transition-duration: 0.4s;
  background-color: #00000000;
  cursor: pointer;
  font-weight: 900;
  border: 1px solid black;
  box-shadow: 0px 0px 0px 1px;
  margin-left: 17px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: black;
}

figcaption input:hover {
  border: 1px solid #ffd900;
  background-color: #000000;
  color: white;
}

.textoDescuentos,
.textoDescuentos2 {
  font-family: "Roboto Flex", sans-serif;
  margin-top: 2%;
  font-style: italic;
  text-align: center;
  font-size: revert;
  padding: 6px;
  font-weight: 900;
  margin-left: 30%;
  margin-right: 34%;
  color: black;
  border: 1px dotted black;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: black;
  height: 85px;
  font-family: serif;
  font-weight: 900;
  font-size: 31px;
  background-color: #FAACA8;
  letter-spacing: 50px;
}

nav,
ul,
li {
  display: flex;
  width: 99.9%;
  justify-content: center;
  font-size: 21px;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 0;
  padding-left: 0;
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}

a:active {
  color: #000000;
}

a:hover {
  color: #ffffff;
}

.primerosParrafos {
  margin-top: 18px;
  text-align: center;
  border: double black;
  font-weight: 900;
  margin-bottom: 25px;
  margin-left: 15%;
  margin-right: 15%;
  color: black;
}

.card {
  margin: 5% 4% 3% 4%;
  border: #EFBCC5 3px dotted;
  padding: 19px;
  color: #EFBCC5;
  background: linear-gradient(to top, #000000, #434343);
}

.card:hover {
  transform: scale(1.02);
  transition-duration: 0.5s;
}

svg {
  vertical-align: baseline
}

.bg-primary {
  background-color: #F8AFAD !important;
}

.btn-info {
  font-size: 17px;
  --bs-btn-focus-shadow-rgb: black;
  --bs-btn-active-bg: black;
  --bs-btn-active-border-color: black;
  --bs-btn-bg: #212529;
  --bs-btn-color: #EFBCC5;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-border-color: #EFBCC5;
  --bs-btn-hover-border-color: #EFBCC5;
  --bs-btn-active-color: #EFBCC5;
  --bs-btn-hover-bg: black;
  box-shadow: 0px 1px 9px 0px;
}

.btn-dark {
  margin-top: 14px;
  --bs-btn-color: #EFBCC5;
  --bs-btn-hover-color: #EFBCC5;
  --bs-btn-border-color: #EFBCC5;
  --bs-btn-hover-border-color: #EFBCC5;
  --bs-btn-active-color: #EFBCC5;
  --bs-btn-hover-bg: black;
  box-shadow: 0px 1px 9px 0px;
}

.row {
  justify-content: center;
}

figure img {
  border: 6px double black;
  width: 469px;
  height: 625px;
}

.segundoParrafo {
  text-align: center;
  border: double black;
  font-weight: 900;
  margin: 2% 15% 2% 15%;
  padding: 1%;
  color: black;
}

.bordeDescuentos {
  border: 6px double black;
  width: 469px;
  height: 625px;
  margin-left: 9%;
}

figure figcaption {
  font-family: "Roboto Flex", sans-serif;
  font-size: large;
  border: 5px double black;
  color: black;
  font-weight: 900;
  text-align: center;
  border-radius: 24px;
  margin: 3% 2%;
  padding-bottom: 6px;
  padding-top: 6px;
}

.figcaptionPromos {
  font-family: "Roboto Flex", sans-serif;
  font-size: large;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  padding-bottom: 5px;
  padding-top: 5px;
}

.figcaptionDescuentos {
  display: flex;
  font-family: "Roboto Flex", sans-serif;
  font-size: large;
  color: black;
  border: 5px double black;
  font-weight: 900;
  border-radius: 20px;
  margin: 2% 3% 0 -9%;
  padding-bottom: 6px;
  padding-top: 5px;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.figcaptionDescuentos .tachado {
  display: flex;
  text-decoration: line-through;
  color: #870d0d;
}

footer .whatsapp {
  display: inline-block;
  padding-left: 19%;
  width: 36%;
}

footer .instagram {
  display: inline-block;
  width: 20%;
}

footer .facebook {
  display: inline-block;
  width: 20%;
}

footer .twitter {
  display: inline-block;
}

.tituloProducto,
.pijamas {
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
  font-style: italic;
  font-size: x-large;
  font-weight: 900;
  border: double black;
  margin: 0 34% 4% 34%;
  padding: 1%;
}

.pijamas {
  color: black;
  margin: 4% 34%;
}

.fotosPijamas {
  display: flex;
  justify-content: space-around;
}

.fotosPijamas .piePijama {
  padding: 1%;
  margin: 4%;
  text-align: center;
  border-radius: 23px;
}

.medias,
figure figcaption {
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
  font-style: italic;
  font-size: x-large;
  font-weight: 900;
  color: black;
  border: double black;
  margin: 4% 34%;
  padding: 1%;
}

.fotosMedias {
  display: flex;
  justify-content: space-around;
}

.fotosMedias .pieMedias {
  padding: 1%;
  margin: 2%;
  text-align: center;
  border-radius: 23px;
}

figure figcaption {
  font-size: large;
  border: 5px double black;
  border-radius: 24px;
  margin: 3% 2%;
  padding-bottom: 6px;
  padding-top: 6px;
}

.tituloProducto,
.pijamas {
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
  font-style: italic;
  font-size: x-large;
  font-weight: 900;
  border: double black;
  margin: 0 34% 4% 34%;
  padding: 1%;
}

.pijamas {
  color: black;
  margin: 4% 34%;
}

.fotosPijamas {
  display: flex;
  justify-content: space-around;
}

.fotosPijamas .piePijama {
  padding: 1%;
  margin: 4%;
  text-align: center;
  border-radius: 23px;
}

.medias,
figure figcaption {
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
  font-style: italic;
  font-size: x-large;
  font-weight: 900;
  color: black;
  border: double black;
  margin: 4% 34%;
  padding: 1%;
}

.fotosMedias {
  display: flex;
  justify-content: space-around;
}

.fotosMedias .pieMedias {
  padding: 1%;
  margin: 2%;
  text-align: center;
  border-radius: 23px;
}

figure figcaption {
  font-size: large;
  border: 5px double black;
  border-radius: 24px;
  margin: 3% 2%;
  padding-bottom: 6px;
  padding-top: 6px;
}

.parrafoFormulario {
  background-color: #f7e2e5a6;
}

.parrafoFormulario {
  text-align: center;
  font-weight: 900;
  font-size: 15px;
  border: 4px double black;
  margin: 7% 29% 2% 31%;
}

.numeroCelular {
  padding-top: 1%;
  font-weight: 900;
  text-align: center;
}

.containerEnvios {
  display: flex;
  justify-content: space-around;
  padding-top: 45px;
}

.mapaEstatico {
  margin: 0 0 24% 1%;
  padding-top: 0px;
  width: 500px;
  height: 450px;
  border: none;
}

/* Media para mobile*/
@media (min-width: 320px) {
  h1 {
    font-size: 23px;
    letter-spacing: 3px;
  }

  nav,
  ul,
  li {
    font-size: 14px;
    flex-wrap: wrap;
  }

  .flechaDeslizadora {
    margin-right: 9px;
    margin-top: 11px;
    margin-bottom: 26px;
  }

  .primerosParrafos {
    margin: 8% 13% 9% 15%;
  }

  p {
    font-size: small;
  }

  figure figcaption {
    margin: 4% 9% 2% 16%;
  }

  figure img {
    width: 256px;
    height: 338px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 12%;
  }

  .figcaptionPromos {
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 3%;
    padding-bottom: 3px;
    padding-top: 8px;
  }

  .w-50 {
    width: 55%;
    margin-top: 2%;
    margin-left: 24%;
    border: double 6px black;
  }

  /* Grilla 1 Del Index Mobile*/
  .fotosEjemplos {
    display: grid;
    justify-content: center;
    grid-template-areas: "imagenIzquierda"
      "imagenDerecha";
    margin-top: 8%;
  }

  .fotosEjemplos .imagenIzquierda {
    grid-area: imagenIzquierda;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosEjemplos .imagenIzquierda:hover {
    transform: scale(1.02);
  }

  .fotosEjemplos .imagenDerecha {
    grid-area: imagenDerecha;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosEjemplos .imagenDerecha:hover {
    transform: scale(1.02);
  }

  /* Aca termmina la grilla 1 del Index Mobile */
  .segundoParrafo {
    margin: 5% 6% 8% 5%;
    padding: 5%;
  }

  .textoDescuentos {
    margin: 2% 15% 3% 16%;
  }

  .textoDescuentos2 {
    margin: 5% 12% 12% 13%;
  }

  /* Grilla 2 Del Index Mobile */
  .fotosDescuentos1 {
    display: grid;
    justify-content: space-around;
    grid-template-areas: "foto1"
      "foto2";
    margin-left: 3%;
  }

  .fotosDescuentos1 .descuento1 {
    grid-area: foto1;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos1 .descuento1:hover {
    transform: scale(1.02);
  }

  .fotosDescuentos1 .descuento2 {
    grid-area: foto2;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos1 .descuento2:hover {
    transform: scale(1.02);
  }

  /* Aca termmina la grilla 2 del Index Mobile */
  figcaption input {
    margin: 2%;
  }

  .bordeDescuentos {
    height: 367px;
    width: 264px;
    margin-left: 11%;
  }

  /* Grilla 3 Del Index Mobile*/
  .fotosDescuentos2 {
    display: grid;
    margin-right: 15%;
    justify-content: center;
    grid-template-areas: "foto3"
      "foto4"
      "foto5"
      "foto6";
    margin-left: 5%;
  }

  .fotosDescuentos2 .descuento3 {
    grid-area: foto3;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos2 .descuento3:hover {
    transform: scale(1.02);
  }

  .fotosDescuentos2 .descuento4 {
    grid-area: foto4;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos2 .descuento4:hover {
    transform: scale(1.02);
  }

  .fotosDescuentos2 .descuento5 {
    grid-area: foto5;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos2 .descuento5:hover {
    transform: scale(1.02);
  }

  .fotosDescuentos2 .descuento6 {
    grid-area: foto6;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos2 .descuento6:hover {
    transform: scale(1.02);
  }

  /* Aca termmina la grilla 3 del Index Mobile */
  .figcaptionDescuentos {
    margin: 5% 9% 5% 16%;
    font-size: medium;
    font-weight: 900;
    padding: 4%;
    flex-direction: column-reverse;
  }

  .botonDescuentos2 {
    margin: 2% 0% 3% 3%;
  }

  /* Ropa Mujer Mobile */
  .tituloProducto,
  .pijamas {
    margin: 4% 5% 4% 6%;
  }

  /* Grilla 1 Mujer Mobile */
  .fotosMujeres {
    display: grid;
    justify-content: space-around;
    grid-template-areas: "fotoMujer1"
      "fotoMujer2"
      "fotoMujer3"
      "fotoMujer4"
      "fotoMujer5"
      "fotoMujer6";
  }

  .fotosMujeres .fotoMujer1 {
    grid-area: fotoMujer1;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer1:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer2 {
    grid-area: fotoMujer2;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer2:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer3 {
    grid-area: fotoMujer3;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer3:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer4 {
    grid-area: fotoMujer4;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer4:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer5 {
    grid-area: fotoMujer5;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer5:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer6 {
    grid-area: fotoMujer6;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer6:hover {
    transform: scale(1.02);
  }

  /* Aca termmina la grilla 1 Mujer Mobile */
  /* Grilla 2 Mujer Mobile */
  .fotosPijamas {
    display: grid;
    grid-template-areas: "fotoMujerPijama1"
      "fotoMujerPijama2";
  }

  .fotosPijamas .fotoMujerPijama1 {
    grid-area: fotoMujerPijama1;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosPijamas .fotoMujerPijama1:hover {
    transform: scale(1.02);
  }

  .fotosPijamas .fotoMujerPijama2 {
    grid-area: fotoMujerPijama2;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosPijamas .fotoMujerPijama2:hover {
    transform: scale(1.02);
  }

  /* Aca termmina la grilla 2 Mujer Mobile */
  /* Grilla 3 Mujer Mobile */
  .fotosMedias {
    display: grid;
    grid-template-areas: "fotoMujerMedia1"
      "fotoMujerMedia2";
  }

  .fotosMedias .fotoMujerMedia1 {
    grid-area: fotoMujerMedia1;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMedias .fotoMujerMedia1:hover {
    transform: scale(1.02);
  }

  .fotosMedias .fotoMujerMedia2 {
    grid-area: fotoMujerMedia2;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMedias .fotoMujerMedia2:hover {
    transform: scale(1.02);
  }

  /* Aca termmina la grilla 3 Mujer Mobile */
  .pijamas {
    margin: 3% 6% 4% 7%;
  }

  .medias,
  figure figcaption {
    margin: 3% 6% 4% 7%;
  }

  footer {
    margin-right: 10%;
  }

  /* Aca termina ropa Mujer Mobile */
  /* Ropa Hombres Mobile */
  /* Grilla 1 Hombres Mobile*/
  .fotosHombres {
    display: grid;
    justify-content: space-around;
    grid-template-areas: "fotoHombre1"
      "fotoHombre2"
      "fotoHombre3"
      "fotoHombre4";
  }

  .fotosHombres .fotoHombre1 {
    grid-area: fotoHombre1;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosHombres .fotoHombre1:hover {
    transform: scale(1.02);
  }

  .fotosHombres .fotoHombre2 {
    grid-area: fotoHombre2;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosHombres .fotoHombre2:hover {
    transform: scale(1.02);
  }

  .fotosHombres .fotoHombre3 {
    grid-area: fotoHombre3;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosHombres .fotoHombre3:hover {
    transform: scale(1.02);
  }

  .fotosHombres .fotoHombre4 {
    grid-area: fotoHombre4;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosHombres .fotoHombre4:hover {
    transform: scale(1.02);
  }

  /* Aca termmina la grilla 1 Hombre Mobile */
  /* Grilla 2 Hombres Mobile */
  .fotosPijamas {
    display: grid;
    grid-template-areas: "fotoHombrePijama1"
      "fotoHombrePijama2";
  }

  .fotosPijamas .fotoHombrePijama1 {
    grid-area: fotoHombrePijama1;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosPijamas .fotoHombrePijama1:hover {
    transform: scale(1.02);
  }

  .fotosPijamas .fotoHombrePijama2 {
    grid-area: fotoHombrePijama2;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosPijamas .fotoHombrePijama2:hover {
    transform: scale(1.02);
  }

  /* Aca termmina la grilla 2 Hombre Mobile */
  /* Grilla 3 Hombres Mobile */
  .fotosMedias {
    display: grid;
    grid-template-areas: "fotoHombreMedia1"
      "fotoHombreMedia2";
  }

  .fotosMedias .fotoHombreMedia1 {
    grid-area: fotoHombreMedia1;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMedias .fotoHombreMedia1:hover {
    transform: scale(1.02);
  }

  .fotosMedias .fotoHombreMedia2 {
    grid-area: fotoHombreMedia2;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMedias .fotoHombreMedia2:hover {
    transform: scale(1.02);
  }

  /* Aca termmina la grilla 3 Hombre Mobile */
  /* Contacto Mobile */
  .parrafoFormulario {
    margin: 7% 11% 6% 11%;
  }

  .col-12 {
    margin-left: 28%;
  }

  /* Aca termina contacto Mobile /*

    /* Envios Mobile */
  .parrafosEnvios {
    margin: 9% 2% 0 2%;
  }

  .containerEnvios {
    display: grid;
    gap: 25px;
  }

  .alert-info,
  .alerta {
    background-color: #efbbc3;
    color: black;
    font-family: "Roboto Flex", sans-serif;
    text-align: center;
    border: 2px double black;
    font-weight: 900;
    font-size: small;
    margin: 7% 5% 7% 6%;
    padding-bottom: 14px;
  }

  .alert-info .alerta,
  .alerta .alerta {
    margin: 1% 10% 3% 10%;
  }

  .mapaDinamico,
  .mapaEstatico {
    height: 260px;
    width: 237px;
  }

  /* Aca termina envios Mobile /*

    /* Footer Mobile */
  .whatsapp {
    display: inline-block;
    padding-left: 19%;
    width: 36%;
  }

  .facebook {
    width: 17%;
  }

  .instagram {
    width: 17%;
  }

  /* Aca termmina el footer Mobile */
}

/* Media para tablet */
@media (min-width: 780px) {

  nav,
  ul,
  li {
    font-size: 18px;
    flex-wrap: nowrap;
  }

  header {
    font-family: serif;
    text-align: center;
    font-size: large;
  }

  h1 {
    height: 113px;
    letter-spacing: 25px;
  }

  p {
    font-size: medium;
    margin: 8px;
  }

  figure figcaption {
    margin-left: -2%;
    margin-right: 1%;
    font-size: medium;
  }

  figure img {
    width: 354px;
    height: 484px;
    margin-top: 6%;
    margin-left: 0;
  }

  /* Grilla 1 Del Index Tablet*/
  .fotosEjemplos {
    display: grid;
    grid-template-areas: "imagenIzquierda imagenDerecha";
    justify-content: space-evenly;
  }

  .fotosEjemplos .imagenIzquierda {
    grid-area: imagenIzquierda;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosEjemplos .imagenIzquierda:hover {
    transform: scale(1.02);
  }

  .fotosEjemplos .imagenDerecha {
    grid-area: imagenDerecha;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosEjemplos .imagenDerecha:hover {
    transform: scale(1.02);
  }

  /* Aca termina grilla 1 Del Index Tablet*/
  .segundoParrafo {
    margin-top: 6%;
  }

  .textoDescuentos {
    margin-top: 3%;
    margin: 3% 20% 0% 20%;
    padding: 8px;
  }

  .textoDescuentos2 {
    padding: 8px;
    margin: 4% 16% 5% 14%;
  }

  /* Grilla 2 Del Index Tablet*/
  .fotosDescuentos1 {
    display: grid;
    grid-template-areas: "foto1 foto2";
    justify-content: space-around;
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 5%;
  }

  .fotosDescuentos1 .descuento1 {
    grid-area: foto1;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos1 .descuento1:hover {
    transform: scale(1.02);
  }

  .fotosDescuentos1 .descuento2 {
    grid-area: foto2;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos1 .descuento2:hover {
    transform: scale(1.02);
  }

  /* Aca termina grilla 2 Del Index Tablet*/
  .figcaptionPromos {
    font-size: medium;
    margin-left: -1%;
    margin-right: -1%;
  }

  figcaption input {
    margin-left: 17px;
    padding: 2px;
    font-size: 15px;
  }

  .bordeDescuentos {
    border: 6px double black;
    width: 354px;
    height: 484px;
    margin-left: 3%;
  }

  /* Grilla 3 Del Index Tablet*/
  .fotosDescuentos2 {
    display: grid;
    grid-template-areas: "foto3 foto4"
      "foto5 foto6";
    justify-content: space-around;
    padding-top: 2%;
    margin-left: 7%;
    margin-right: 6%;
    gap: 3%;
  }

  .fotosDescuentos2 .descuento3 {
    grid-area: foto3;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos2 .descuento3 .descuento3:hover {
    transform: scale(1.02);
  }

  .fotosDescuentos2 .descuento4 {
    grid-area: foto4;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos2 .descuento4 .descuento4:hover {
    transform: scale(1.02);
  }

  .fotosDescuentos2 .descuento5 {
    grid-area: foto5;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos2 .descuento5:hover {
    transform: scale(1.02);
  }

  .fotosDescuentos2 .descuento6 {
    grid-area: foto6;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos2 .descuento6:hover {
    transform: scale(1.02);
  }

  /* Aca termina grilla 3 Del Index Tablet*/
  .figcaptionDescuentos {
    font-size: medium;
    font-weight: 900;
    margin: 3% 1% 4% 11%;
    padding: 4%;
    flex-direction: column-reverse;
  }

  .botonDescuentos2 {
    margin: 3% 0 3% 37%;
  }

  /* Ropa Mujer Tablet */
  .tituloProducto,
  .pijamas {
    font-size: x-large;
    margin-left: 23%;
    margin-right: 25%;
    margin-bottom: 6%;
    padding: 1%;
  }

  /* Grilla 1 Mujer Tablet */
  .fotosMujeres {
    display: grid;
    justify-content: space-around;
    grid-template-areas: "fotoMujer1 fotoMujer2"
      "fotoMujer3 fotoMujer4"
      "fotoMujer5 fotoMujer6";
  }

  .fotosMujeres .fotoMujer1 {
    grid-area: fotoMujer1;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer1:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer2 {
    grid-area: fotoMujer2;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer2:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer3 {
    grid-area: fotoMujer3;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer3:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer3 .botonFotoMujeres1 {
    margin-top: 1%;
    margin-left: 2%;
  }

  .fotosMujeres .fotoMujer4 {
    grid-area: fotoMujer4;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer4:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer5 {
    grid-area: fotoMujer5;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer5:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer5 .botonFotoMujeres2 {
    margin-top: 2%;
    margin-left: 2%;
  }

  .fotosMujeres .fotoMujer6 {
    grid-area: fotoMujer6;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer6:hover {
    transform: scale(1.02);
  }

  /* Aca termina grilla 1 Mujer Tablet */
  .medias,
  figure figcaption {
    margin: 9% 19% 3% 19%;
  }

  .fotosMedias {
    display: flex;
    justify-content: space-around;
  }

  .fotosMedias .botonFotoMedia1 {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
  }

  .fotosMedias .botonFotoMedia2 {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
  }

  .pijamas {
    margin: 9% 19% 3% 19%;
  }

  .pijamas .piePijama {
    padding: 2%;
  }

  .fotosPijamas {
    display: flex;
    justify-content: space-around;
  }

  .fotosPijamas .botonFotoPijama1 {
    margin-top: 2%;
    margin-left: 2%;
  }

  .fotosPijamas .botonFotoPijama2 {
    margin-top: 2%;
    margin-left: 2%;
  }

  /* Aca termina Ropa Mujer Tablet /*

    /* Ropa Hombres Tablet */
  .botonFotoHombre1 {
    margin-left: 1%;
  }

  .botonFotoHombre2 {
    margin-top: 2%;
  }

  /* Grilla 1 Hombres Tablet*/
  .fotosHombres {
    display: grid;
    justify-content: space-around;
    grid-template-areas: "fotoHombre1 fotoHombre2"
      "fotoHombre3 fotoHombre4";
  }

  .fotosHombres .fotoHombre1 {
    grid-area: fotoHombre1;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosHombres .fotoHombre1:hover {
    transform: scale(1.02);
  }

  .fotosHombres .fotoHombre2 {
    grid-area: fotoHombre2;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosHombres .fotoHombre2:hover {
    transform: scale(1.02);
  }

  .fotosHombres .fotoHombre3 {
    grid-area: fotoHombre3;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosHombres .fotoHombre3:hover {
    transform: scale(1.02);
  }

  .fotosHombres .fotoHombre4 {
    grid-area: fotoHombre4;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosHombres .fotoHombre4:hover {
    transform: scale(1.02);
  }

  /* Aca termina grilla 1 Hombres Tablet */
  /* Contacto Tablet */
  .parrafoFormulario {
    margin: 7% 9% 4% 8%;
  }

  /* Aca termina Contacto Tablet */
  /* Envios Tablet */
  .parrafosEnvios {
    margin: 8% 4% 5% 5%;
  }

  .containerEnvios {
    display: grid;
    grid-template-areas: "mapaDinamico mapaEstetico";
    gap: 25px;
  }

  .containerEnvios .mapaDinamico {
    grid-area: mapaDinamico;
  }

  .containerEnvios .mapaEstatico {
    grid-area: mapaEstatico;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .containerEnvios .mapaEstatico:hover {
    transform: scale(1.05);
  }

  .alert-info,
  .alerta {
    background-color: #efbbc3;
    color: black;
    font-family: "Roboto Flex", sans-serif;
    text-align: center;
    border: 2px double black;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 5% 30% 2% 30%;
    padding-bottom: 14px;
  }

  .alert-info .alerta,
  .alerta .alerta {
    margin: 1% 37% 3% 37%;
  }

  .mapaDinamico,
  .mapaEstatico {
    height: 350px;
    width: 350px;
  }

  /* Aca termina Envios Tablet */
  /* Footer Tablet */
  .whatsapp {
    width: 40%;
  }

  .facebook {
    width: 20%;
  }

  .instagram {
    width: 20%;
  }

  /* Aca termina footer Tablet */
}

/* Media para Desktop*/
@media (min-width: 1070px) {

  nav,
  ul,
  li {
    display: flex;
    width: 99.9%;
    justify-content: center;
    font-size: 21px;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid black;
  }

  a {
    text-decoration: none;
  }

  a:link {
    color: #000000;
  }

  a:visited {
    color: #000000;
  }

  a:active {
    color: #000000;
  }

  a:hover {
    color: #ffffff;
  }

  header {
    font-family: serif;
    text-align: center;
    font-size: large;
  }

  h1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: black;
    height: 85px;
    font-family: serif;
    background-color: #FAACA8;
    letter-spacing: 50px;
  }

  .primerosParrafos {
    margin-top: 18px;
    text-align: center;
    border: double black;
    font-weight: 900;
    margin-bottom: 25px;
    margin-left: 15%;
    margin-right: 15%;
    color: black;
  }

  .segundoParrafo {
    text-align: center;
    border: double black;
    font-weight: 900;
    margin: 2% 15% 5% 15%;
    padding: 1%;
    color: black;
  }

  p {
    font-family: "Roboto Flex", sans-serif;
    font-size: large;
    margin: 10px;
  }

  section figure {
    margin: 10px;
  }

  section figure figcaption {
    font-family: "Roboto Flex", sans-serif;
    font-size: large;
    border: 5px double black;
    color: black;
    font-weight: 900;
    text-align: center;
    border-radius: 24px;
    margin: 3% 2%;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  section figure figcaption input {
    transition-duration: 0.4s;
    background-color: #00000000;
    cursor: pointer;
    font-weight: 900;
    border: 1px solid black;
    box-shadow: 0px 0px 0px 1px;
    margin: 0 0 0 17px;
    margin-left: 17px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: black;
  }

  section figure figcaption input:hover {
    border: 1px solid #ffd900;
    background-color: #000000;
    color: white;
  }

  section figure img {
    border: 6px double black;
    width: 469px;
    height: 625px;
    margin-left: 0;
  }

  li img {
    padding: 5px;
  }

  .flechaDeslizadora {
    display: flex;
    justify-content: right;
    margin-right: 10px;
    padding-top: 22px;
  }

  html {
    scroll-behavior: smooth;
  }

  .tituloProducto,
  .pijamas {
    text-align: center;
    font-family: "Roboto Flex", sans-serif;
    font-style: italic;
    font-size: x-large;
    font-weight: 900;
    border: double black;
    margin: 0 34% 4% 34%;
    padding: 1%;
  }

  .figcaptionPromos {
    font-family: "Roboto Flex", sans-serif;
    font-size: large;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .textoDescuentos,
  .textoDescuentos2 {
    font-family: "Roboto Flex", sans-serif;
    margin-top: 2%;
    font-style: italic;
    text-align: center;
    padding: 6px;
    font-weight: 900;
    margin-left: 26%;
    margin-right: 27%;
    color: black;
    border: 2px dotted black;
  }

  .figcaptionDescuentos {
    display: flex;
    font-family: "Roboto Flex", sans-serif;
    font-size: large;
    color: black;
    border: 5px double black;
    font-weight: 900;
    border-radius: 20px;
    margin: 5% 0% 5% 18%;
    padding: 4%;
    padding-bottom: 6px;
    padding-top: 5px;
    justify-content: space-around;
    flex-direction: column-reverse;
  }

  .figcaptionDescuentos .tachado {
    display: flex;
    text-decoration: line-through;
    color: #870d0d;
  }

  .bordeDescuentos {
    border: 6px double black;
    width: 469px;
    height: 625px;
    margin-left: 9%;
  }

  .botonDescuentos2 {
    margin: 3% 0% 3% 38%;
  }

  .botonFotoMujeres,
  .botonFotoMujeres2 {
    margin: 0 0 0 17px;
  }

  /* Grilla 1 Del Index Desktop*/
  .fotosEjemplos {
    display: grid;
    grid-template-areas: "imagenIzquierda imagenDerecha";
    justify-content: space-around;
    gap: 4%;
  }

  .fotosEjemplos .imagenIzquierda {
    grid-area: imagenIzquierda;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosEjemplos .imagenIzquierda:hover {
    transform: scale(1.02);
  }

  .fotosEjemplos .imagenDerecha {
    grid-area: imagenDerecha;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosEjemplos .imagenDerecha:hover {
    transform: scale(1.02);
  }

  /* Aca termmina Grilla 1 Del Index Desktop */
  /* Grilla 2 Del Index Desktop*/
  .fotosDescuentos1 {
    display: grid;
    grid-template-areas: "foto1 foto2";
    justify-content: space-around;
    padding: 0%;
    margin-left: 0;
    margin-right: 0;
    gap: 2%;
  }

  .fotosDescuentos1 .descuento1 {
    grid-area: foto1;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos1 .descuento1:hover {
    transform: scale(1.02);
  }

  .fotosDescuentos1 .descuento2 {
    grid-area: foto2;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos1 .descuento2:hover {
    transform: scale(1.02);
  }

  /* Aca termmina Grilla 2 Del Index Desktop */
  /* Grilla 3 Del Index Desktop*/
  .fotosDescuentos2 {
    display: grid;
    grid-template-areas: "foto3 foto4"
      "foto5 foto6";
    justify-content: space-around;
    padding-top: 3%;
    margin-left: -2%;
    margin-right: 1%;
    gap: 3%;
  }

  .fotosDescuentos2 .descuento3 {
    grid-area: foto3;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos2 .descuento3:hover {
    transform: scale(1.02);
  }

  .fotosDescuentos2 .descuento4 {
    grid-area: foto4;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos2 .descuento4:hover {
    transform: scale(1.02);
  }

  .fotosDescuentos2 .descuento5 {
    grid-area: foto5;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos2 .descuento5:hover {
    transform: scale(1.02);
  }

  .fotosDescuentos2 .descuento6 {
    grid-area: foto6;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosDescuentos2 .descuento6:hover {
    transform: scale(1.02);
  }

  /* Aca termmina Grilla 3 Del Index Desktop */
  /* Grilla 1 Mujeres Desktop */
  .fotosMujeres {
    display: grid;
    justify-content: space-around;
    grid-template-areas: "fotoMujer1 fotoMujer2"
      "fotoMujer3 fotoMujer4"
      "fotoMujer5 fotoMujer6";
  }

  .fotosMujeres .fotoMujer1 {
    grid-area: fotoMujer1;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer1:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer2 {
    grid-area: fotoMujer2;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer2:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer3 {
    grid-area: fotoMujer3;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer3:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer4 {
    grid-area: fotoMujer4;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer4:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer5 {
    grid-area: fotoMujer5;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer5:hover {
    transform: scale(1.02);
  }

  .fotosMujeres .fotoMujer6 {
    grid-area: fotoMujer6;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosMujeres .fotoMujer6:hover {
    transform: scale(1.02);
  }

  /* Aca termmina Grilla 1 Mujer Desktop */
  /* Grilla 1 Hombres Desktop*/
  .fotosHombres {
    display: grid;
    justify-content: space-around;
    grid-template-areas: "fotoHombre1 fotoHombre2"
      "fotoHombre3 fotoHombre4";
  }

  .fotosHombres .fotoHombre1 {
    grid-area: fotoHombre1;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosHombres .fotoHombre1:hover {
    transform: scale(1.02);
  }

  .fotosHombres .fotoHombre2 {
    grid-area: fotoHombre2;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosHombres .fotoHombre2:hover {
    transform: scale(1.02);
  }

  .fotosHombres .fotoHombre3 {
    grid-area: fotoHombre3;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosHombres .fotoHombre3:hover {
    transform: scale(1.02);
  }

  .fotosHombres .fotoHombre4 {
    grid-area: fotoHombre4;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .fotosHombres .fotoHombre4:hover {
    transform: scale(1.02);
  }

  /* Aca termmina Grilla 1 Hombres Desktop */
  .pijamas {
    text-align: center;
    font-family: "Roboto Flex", sans-serif;
    font-style: italic;
    font-size: x-large;
    font-weight: 900;
    color: black;
    border: double black;
    margin: 4% 34%;
    padding: 1%;
  }

  .fotosPijamas {
    display: flex;
    justify-content: space-around;
  }

  .fotosPijamas .piePijama {
    padding: 1%;
    margin: 4%;
    text-align: center;
    border-radius: 23px;
  }

  .medias,
  figure figcaption {
    text-align: center;
    font-family: "Roboto Flex", sans-serif;
    font-style: italic;
    font-size: x-large;
    font-weight: 900;
    color: black;
    border: double black;
    margin: 4% 34%;
    padding: 1%;
  }

  .fotosMedias {
    display: flex;
    justify-content: space-around;
  }

  .fotosMedias .pieMedias {
    padding: 1%;
    margin: 2%;
    text-align: center;
    border-radius: 23px;
  }

  .botonFotoPijama1 {
    margin-top: 0;
    margin-left: 2%;
  }

  .botonFotoPijama2 {
    margin-top: 0;
    margin-left: 2%;
  }

  .botonFotoHombre2 {
    margin: 1%;
  }

  /* Contacto Desktop */
  .numeroCelular {
    padding-top: 1%;
    font-weight: 900;
    text-align: center;
  }

  .parrafoFormulario {
    margin: 4% 30% 5% 30%;
  }

  .col-12 {
    margin-left: 39%;
  }

  /* Aca termina Contacto Desktop */
  /* Envios Desktop */
  .containerEnvios {
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
  }

  .alert-info,
  .alerta {
    background-color: #efbbc3;
    color: black;
    font-family: "Roboto Flex", sans-serif;
    text-align: center;
    border: 2px double black;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 5% 30% 2% 30%;
    padding-bottom: 14px;
  }

  .alert-info .alerta,
  .alerta .alerta {
    margin: 1% 37% 3% 37%;
  }

  .mapaDinamico,
  .mapaEstatico {
    height: 450px;
    width: 500px;
  }

  .mapaEstatico {
    margin: 0 0 24% 1%;
    padding-top: 0px;
    border: none;
  }

  /* Aca termina Envios Desktop */
  /* Grilla footer Desktop*/
  .footer {
    display: grid;
    grid-template-areas: "whatsapp instagram twitter facebook";
    justify-content: space-around;
    padding-top: 1%;
  }

  .footer .whatsapp {
    grid-area: whatsapp;
  }

  .footer .instagram {
    grid-area: instagram;
  }

  .footer .facebook {
    grid-area: facebook;
  }

  .footer .twitter {
    grid-area: twitter;
  }

  /* Aca termmina grilla footer Desktop */
  /* Footer */
  .whatsapp {
    display: inline-block;
    padding-left: 19%;
    width: 40%;
  }

  .instagram {
    display: inline-block;
    width: 20%;
  }

  .facebook {
    display: inline-block;
    width: 20%;
  }

  .twitter {
    display: inline-block;
  }

  /* Aca termina footer */
}